{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Única estética da beleza.</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=K2D"> 
  </head>
  <body>
       <nav class="navbar">
       <ul> 
        <li><a href="/servicos/">Serviços</a></li>
        <li><a href="/agenda/">Agenda</a></li>
        <li><a href="/fale-conosco/">Fale Conosco</a></li>
        <li><a href="/sobre/">Sobre a empresa</a></li>
       </ul>
      </nav>
      <a href="/">
        <img src="{% static "img/unicalogo.jpg" %}" name="unicalogo" alt="Página inicial">
      </a>
    {% block content %}
    {% endblock %}
  </body>
</html>
