{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Única estética da beleza.</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=K2D"> 
  </head>
  <body>
       <nav class="navbar">
       <ul>
        <li><a href="/">
            <img src="{% static "img/flor.png" %}" class="flor" >
        </a></li>
        <li><a href="/servicos/" class="seções"><b>Serviços</b></a></li>
        <li><a href="/agenda/" class="seções"><b>Agenda</b></a></li>
        <li><a href="/fale-conosco/" class="seções"><b>Fale Conosco</b></a></li>
        <li><a href="/sobre/" class="seções"><b>Sobre a empresa</b></a></li>
       </ul>
      </nav>
      <a href="/">
        <img src="{% static "img/unicalogo.jpg" %}" name="unicalogo" alt="Página inicial">
      </a>
      <hr class="linha">
    <div class="fade">
    {% block content %}
    {% endblock %}
   </div>
  </body>
</html>
