{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Única estética da beleza.</title>
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=K2D"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}">
  </head>
  <body>
    <style>
      .navbar {
       background-color: #5bc6d0;
       border-radius: 25px;
      }

      .navbar .navbar-nav li a {
        color: white !important;
      }

      .navbar .navbar-nav li a:active {
        color: blue;
      }

      .unicalogo {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10;
        display: block;
      }

      .linha {
        background-color:  pink;
      }

      html {
        font-size: 13px;
      }

    </style>
       <nav class="navbar navbar-expand-lg navbar-light bg-custom py-0">
        <a href="/">
            <img src="{% static "img/flor.png" %}" width="32" height="16" >
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbar" aria-controls="conteudoNavbar" aria-expanded="false" aria-label="Navegação do menu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="conteudoNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="/servicos/" class="nav-link">
              <b>Serviços</b>
            </a>
          </li>
        <li class="nav-item">
          <a href="/agenda/" class="nav-link">
            <b>Agenda</b>
          </a>
        </li>
        <li class="nav-item">
          <a href="/fale-conosco/" class="nav-link">
            <b>Fale Conosco</b>
          </a>
        </li>
        </ul>
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/sobre/" class="nav-link sobre">
            <b>Sobre a empresa</b>
          </a>
        </li>
       </ul>
      </nav>
      <a href="/">
        <img src="{% static "img/unicalogo.jpg" %}" name="unicalogo" class="unicalogo" alt="Página inicial">
      </a>
      <hr class="linha">
    {% block content %}
    {% endblock %}
  </body>
</html>
