{% extends 'base.html' %}
{% load static %}
{% load list_index %}
{% block content %}
<style>
.card {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
</style>
<div class="justify-content-center">
  <h1 align="center">Serviços</h1>
{% for servico in servicos %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">
     <img src='{% static 'img/flor.png' %}' width="32" height="16"/><b> {{servico}}</b> {{duracoes|list_index:forloop.counter0}}
    </h5>
  <p class="card-text">
   {{descricoes|list_index:forloop.counter0}}<br>
  </p>
</div>
</div><br>
{% endfor %}
</div>
{% endblock %}
