{% extends 'base.html' %}
{% load static %}
{% load list_index %}
{% block content %}
<section class="ftco-section ftco-section-services bg-light">
 <div class="container">
  <div class="row">
{% for servico in servicos %}
<div class="col-md-3">
	<div class="services ftco-animate">
	  <div class="text mt-4">
		<h3>
		<img src='{% static 'images/flor.png' %}' width="32" height="16"/>
	         {{servico}}
		</h3>
	         <p>{{descricoes|list_index:forloop.counter0}}</p>
		 <i>Duração de {{duracoes|list_index:forloop.counter0}}</i>
          </div>
	</div>
</div>
{% endfor %}
</div>
</div>
</section>
{% endblock %}
